    * {
        padding: 0;
        margin: 0;
    }
    
    body,
    html {
        height: 100%;
    }
    
    body {
        display: flex;
        flex-direction: column;
        font-family: 'Barlow', sans-serif;
        box-sizing: border-box;
        color: #24303E;
        font-size: 18px;
    }
    
    main {
        flex: 1 0 auto;
    }
    
    footer {
        flex-shrink: 0;
    }
    
    header {
        height: 100vh;
        width: 100%;
        background-image: url("../images/image-header.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
    }
    
    .logoandnav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 24px;
        padding-top: 32px;
        margin-bottom: 88px;
    }
    
    nav #myLinks {
        display: none;
    }
    
    h1 {
        font-family: 'Fraunces', serif;
        font-size: 40px;
        font-weight: 900;
        line-height: 49px;
        letter-spacing: 6.25px;
        color: white;
        text-transform: uppercase;
        margin-bottom: 52px;
    }
    
    #burger {
        cursor: pointer;
    }
    
    nav {
        position: relative;
    }
    
    #myLinks {
        position: absolute;
        background-color: white;
        top: 48px;
        right: 0;
        width: 329px;
        padding-top: 47px;
        padding-bottom: 23px;
    }
    
    #myLinks a {
        display: block;
        padding: 16px;
        text-decoration: none;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.14px;
        color: #808397;
        padding: 15px 32px;
        margin: 0 auto;
    }
    
    nav a:hover {
        border-radius: 28px;
        background-color: #FBD600;
    }
    
    @media only screen and (min-width:850px) {
        #myLinks {
            display: block !important;
        }
        #myLinks {
            position: unset;
            background-color: unset;
            width: unset;
            padding-top: 0;
            padding-bottom: 0;
            display: flex;
            flex-direction: row;
        }
        #burger {
            display: none;
        }
        #myLinks a {
            display: inline-block;
            color: white;
            font-size: 18px;
            margin: 0;
            padding: 15px 32px;
            width: unset;
        }
        nav a:hover {
            border-radius: 28px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        .logoandnav {
            padding: 32px;
            align-items: center;
        }
        header {
            background-image: url("../images/image-header-desktop.jpg");
        }
        h1 {
            font-size: 56px;
            line-height: 69px;
        }
    }
    
    .eggandtext {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .egg {
        padding-top: 83%;
        height: 0;
        width: 100%;
        background-image: url("../images/image-transform.jpg");
        background-size: cover;
    }
    
    .reverse {
        flex-direction: column-reverse;
    }
    
    .transformstand {
        padding: 64px 24px;
        text-align: center;
    }
    
    h2 {
        font-weight: 900;
        font-family: 'Fraunces', serif;
        margin-bottom: 24px;
        letter-spacing: -0.23px;
    }
    
    .first {
        color: #808397;
        line-height: 30px;
        letter-spacing: -0.13px;
        font-weight: 600;
        margin-bottom: 32px;
    }
    
    .learn {
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 1px;
        font-size: 15px
    }
    
    .learn:after {
        content: " ";
        display: block;
        width: 137px;
        height: 10px;
        background-color: #FAD400;
        border-radius: 10px;
        margin: 0 auto;
        opacity: 0.25;
        margin-top: -7px;
    }
    
    .cup {
        padding-top: 83%;
        height: 0;
        width: 100%;
        background-image: url("../images/image-stand-out.jpg");
        background-size: cover;
    }
    
    .learn.pink:after {
        background-color: #FE7766;
    }
    
    .cherryandmandarin {
        display: flex;
        flex-direction: column;
    }
    
    .cherry,
    .mandarin {
        background-size: cover;
        width: 100%;
        height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 398px;
        box-sizing: border-box;
        padding-left: 24px;
        padding-right: 24px;
        text-align: center;
    }
    
    h3 {
        font-weight: 900;
        font-family: 'Fraunces', serif;
        margin-bottom: 27px;
        letter-spacing: -0.2px;
        line-height: 28px;
        color: #24554A;
    }
    
    .berries {
        color: #24554A;
        line-height: 27px;
        letter-spacing: -0.11px;
        font-size: 16px;
    }
    
    .mandarin {
        background-image: url("../images/image-photography.jpg");
    }
    
    .cherry {
        background-image: url("../images/image-graphic-design.jpg");
    }